/*
Main stylesheet
*/

/*
Some common styles
--------------------------------------------------------
*/

/* box sizing */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* body */
body {
	color: #000000;
	background-color: #ffffff; /* #fefefe */
}

/* clearfix */
.mw-clearfix::after {
	content: '';
	display: table;
	clear: both;
}

/* screen reader text (text meant only for screen readers) */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	overflow-wrap: normal !important;
}

/* container */
.mw-container {
	max-width: 940px;
	margin-right: auto;
	margin-left: auto;
}

/* column */
.mw-column {
	width: 50%;
	min-height: 1px;
	margin-top: 100px;
	margin-bottom: 100px;
	padding-right: 20px;
	padding-left: 20px;
}
.mw-column.mw-left-column {
	float: left;
}
.mw-column.mw-right-column {
	float: right;
}


/*
Page header (left column)
--------------------------------------------------------
*/

.mw-page-header {
	font-family: 'Montserrat', sans-serif;
}
.mw-page-title {
	margin: 0 0 50px;
	font-size: 74px;
	font-weight: 800;
	letter-spacing: 1px;
	line-height: 1.15;
	text-transform: capitalize;
	color: #2f303b;
}
.mw-page-description {
	margin: 0 0 45px;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.2px;
	line-height: 1.7;
	color: #424451;
}
.mw-download-link {
	display: inline-block;
	padding: 5px 0;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.2px;
	line-height: 1.7;
	color: #5b74ff;
	text-decoration: none;

	-webkit-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}
.mw-download-link:hover,
.mw-download-link:focus {
	color: #7f92ff;
}
.mw-download-link i {
	margin-left: 10px;

	-webkit-transition: margin-left 0.2s ease-out;
	transition: margin-left 0.2s ease-out;
}
.mw-download-link:hover i {
	margin-left: 15px;
}


/*
Vertical menu
--------------------------------------------------------
*/

/* box-sizing for the menu */
.mw-border-box,
.mw-border-box * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.mw-border-box::before,
.mw-border-box::after,
.mw-border-box *::before,
.mw-border-box *::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* align the menu container to the right (style for demonstration purposes only) */
.mw-vertical-menu-container.mw-float-right {
	float: right;
}

/* menu width */
.mw-vertical-menu-container,
.mw-vertical-menu-items {
	width: 100%;
	max-width: 340px;
}

/* vertical menu container (nav) */
.mw-vertical-menu-container {
	margin: 0;
	padding: 25px 40px;
	border-radius: 8px;
	background-color: #ffffff;
	box-shadow: 0 10px 40px -5px rgba(0,0,0,0.1);
	font-family: 'Montserrat', sans-serif;
}

/* menu items (ul>li>a...) */
.mw-vertical-menu-items {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow-wrap: break-word;
}
.mw-vertical-menu-items li {
	margin: 0;
	border-top: 2px dashed #f4f4f6;
}
.mw-vertical-menu-items > li:first-child {
	border-top: none;
}
.mw-vertical-menu-items li a {
	position: relative;
	display: block;
	padding: 14px 0;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 0.2px;
	line-height: 1.35;
	outline: none;
	text-decoration: none;
	color: #2f303b;

	-webkit-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}
.mw-vertical-menu-items li a:hover,
.mw-vertical-menu-items li a:focus {
	text-decoration: none;
	color: #5b74ff;
}
.mw-vertical-menu-items li.mw-menu-item-has-children > a {
	padding-right: 50px;
}
.mw-vertical-menu-items ul {
	display: none; /* hide all sub-menus */
	list-style: none;
	margin: 0;
	padding: 0 0 0 20px;
}
.mw-vertical-menu-items ul ul {
	padding: 0 0 0 25px;
}
.mw-vertical-menu-items ul li a {
	font-size: 14px;
	font-weight: 500;
	color: #424451;
}

/* show/hide submenu (arrow icon) */
.mw-vertical-menu-items .mw-toggle-sub-menu {
	position: absolute;
	top: 5px;
	right: 0;
	z-index: 2;
	display: block;
	width: 38px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	font-size: 11px;
	border-radius: 8px;
	color: #2f303b;
	background-color: #f8f8fa;

	-webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out;
	transition: color 0.2s ease-out, background-color 0.2s ease-out;
}
.mw-vertical-menu-items li.mw-sub-menu-visible > a .mw-toggle-sub-menu {
	background-color: #f1f1f5;
}
.mw-vertical-menu-items .mw-toggle-sub-menu:hover,
.mw-vertical-menu-items li.mw-sub-menu-visible > a .mw-toggle-sub-menu:hover {
	color: #ffffff;
	background-color: #5b74ff;
}


/* ** end ** */




/*
Page footer
--------------------------------------------------------
*/

.mw-page-footer {
	margin-bottom: 100px;
	padding-top: 50px;
	padding-right: 20px;
	padding-left: 20px;
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0.2px;
	line-height: 1.7;
	color: #424451;
}
.mw-page-footer::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 20px;
	width: calc(100% - 40px);
	height: 1px;
	background-color: #f4f4f6;
}
.mw-page-footer p {
	margin: 0 0 30px;
}
.mw-page-footer > :last-child {
	margin-bottom: 0;
}
.mw-page-footer a {
	text-decoration: none;
	color: #5b74ff;

	-webkit-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}
.mw-page-footer a:hover,
.mw-page-footer a:focus {
	text-decoration: underline;
	color: #7f92ff;
}
.mw-page-footer strong {
	font-weight: 500;
}
.mw-page-footer i.fa-heart {
	margin-right: 3px;
	margin-left: 3px;
}
